<h1>New Comment</h1>
  <div class="ui form">
    <form>
      <div class="field">
        <label for="name">Name</label>
        {{input value=name id="name"}}
      </div>
      <div class="field">
        <label for="url">url</label>
        {{input value=url id="url"}}
      </div>
      <div class="field">
        <label for="content">Content</label>
        {{textarea value=content id="content"}}
      </div>
      <button class="positive ui button" {{action 'saveComment'}}>Save</button>
    </form>
  </div>
