<h1>New Tag</h1>
  <div class="ui form">
    <form>
      <div class="field">
        <label for="tag">Tag</label>
        {{input value=tag id="tag"}}
      </div>
      <button class="positive ui button" {{action 'saveTag' model}}>Save Tag</button>
    </form>
  </div>
